@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Titillium+Web:wght@400;600;700;900&display=swap");
body {
  background-image: url('/assets/images/bg-press.png'), linear-gradient(#000,transparent);
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-color: #000;
  font-family: "Titillium Web", sans-serif;
}

.asix-nav {
  background-color: rgba(30, 0, 23, 0.76);
  border-bottom: 2px solid #682cce;
  border-top: 2px solid #682cce;
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 99;
  padding: 15px 0;
  transition: all ease-in-out 0.5s;
  font-weight: 700;
  .nav-logo{
    width: 45px;
  }
  &.isTop {
    box-shadow: 0 3px 3px rgba(108, 7, 111, 0.9);
    top: 0;
  }
  .access-app {
    .btn-access-app {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5px 30px;
      background-color: #9e32e3;
      cursor: pointer;
      box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
      border-radius: 4px;
      color: #fff;
      transition: all ease-in-out 0.3s;
      span {
        font-weight: 700;
        display: block;
        text-align: center;
      }
      small {
        font-weight: 600;
        display: block;
        text-align: center;
      }
      &:hover {
        transform: scale(1.1);
        background-color: #fff;
        color: #682cce;
        box-shadow: 0 0 1px 2px #ffe, inset 0 0 3px 3px #9e32e3;
      }
    }
  }
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  .top-h {
    position: absolute;
    left: 0;
    top: 0px;
    width: 30%;
    z-index: 10;
  }
  .bg-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 21;
    object-fit: cover;
  }
  .bg-hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #particles-js-1{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
  }
  .hero-content {
    position: relative;
    z-index: 30;
    height: 100vh;
    padding-top: 17%;
    margin-bottom: 20px;
    h1 {
      font-size: 18px;
      color: #fff;
      text-align: center;
      font-weight: 700;
    }
    h2 {
      font-size: 36px;
      color: #fff;
      text-align: center;
      font-family: "Macondo", cursive;
      font-weight: 700;
    }
    .text {
      font-size: 22px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-shadow: 0.5px 1px 0 #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        text-shadow: 1px -1px 0px #fff;
        color: #9e32e3;
        font-weight: 700;
        font-size: 32px;
        margin: 0 5px;
      }
    }
    .btn-wrapper {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .btn {
        text-decoration: none;
        height: 50px;
        margin: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #9e32e3;
        box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        transition: all ease-in-out 0.3s;
        &.btn-left {
          &:hover {
            background-color: #1fc7d4;
            box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
          }
        }
        &.btn-right {
          &:hover {
            background-color: #5eeb9e;
            box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
          }
        }
      }
    }
    .info-power {
      display: flex;
      color: #fff;
      justify-content: center;
      align-items: center;
      .item {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          font-weight: 700;
          display: block;
          margin-bottom: 10px;
        }
        &.left {
          align-items: flex-end;
        }
        &.right {
          align-items: flex-start;
        }
      }
      .divider {
        height: 60px;
        width: 5px;
        background-color: #fff;
        margin: 0 20px;
        border-radius: 10px;
      }
    }
  }
  @media (max-width: 768px) {
    .top-h {
      width: 60%;
    }
    .hero-content {
      padding-top: 30%;
    }
  }
}

.video-demo {
  position: relative;
  z-index: 30;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: right;
  .bg-top {
    position: absolute;
    object-fit: cover;
    top: -15%;
    width: 100%;
    z-index: 10;
  }
  .bg-bottom {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
  .video-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    position: relative;
    overflow-x: hidden;
    .el-round{
        height: 80px;
        width: 80px;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        box-shadow: 0 0 30px #9e32e3;
    }
    .title {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      display: block;
      margin-bottom: 10px;
    }
    .text-large {
      text-align: center;
      font-size: 28px;
      font-family: "Macondo", cursive;
      font-weight: 700;
      margin-bottom: 15px;
      .tlg-1 {
        font-size: 28px;
        color: #9e32e3;
      }
      .tlg-2 {
        font-size: 32px;
      }
    }
    .phar {
      text-align: center;
      color: #ffe;
    }
    .btn-wrapper {
        margin-top: 30px;
      .btn {
        text-decoration: none;
        height: 50px;
        width: 150px;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #9e32e3;
        box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        transition: all ease-in-out 0.3s;
        font-weight: 700;
        &:hover {
          background-color: #9e32e3;
          box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #FFF;
          transform: scale(1.1);
        }
      }
    }
  }
  @media (max-width: 768px) {
    .bg-top {
      top: -5%;
    }
  }
}

.about {
  position: relative;
  padding-bottom: 15%;
  .bg-top {
    top: -15%;
    position: absolute;
    width: 100%;
    z-index: 60;
  }
  .bg-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  h2{
      color: #FFE;
      font-family: 'Macondo', cursive;
  }
  .token-address{
      color: #FFF;
      font-weight: 700;
      text-decoration: none;
      font-size: 14px;
  }
  p{
      font-weight: 300;
      color: #FFF;
  }
  .btn-wrapper {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
      text-decoration: none;
      height: 50px;
      margin: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #9e32e3;
      box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
      cursor: pointer;
      border-radius: 4px;
      color: #fff;
      transition: all ease-in-out 0.3s;
      &:hover {
        background-color: #FFF;
        color: #9e32e3;
        box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #333;
      }
      &.btn-left {
        &:hover {
          background-color: #1fc7d4;
          box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
          color: #FFF;
        }
      }
      &.btn-right {
        &:hover {
          background-color: #5eeb9e;
          box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
          color: #FFF;
        }
      }
    }
  }
  .cader-wrapper {
    position: relative;
    .pjs-cader{
        position: absolute;
        left: 20%;
        right: 20%;
        top: 20%;
        bottom: 20%;
        overflow: hidden;
        border-radius: 50%
        // height: 100px;
        // width: 100px;
    }
    .cader {
      width: 100%;
      position: absolute;
      right: 0;
      top: 3%;
    }
    .cader-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
        height: 500px;
        overflow: hidden;
        // background-image: url('../../assets/images/cader.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        img{
            width: 150px;
        }
    }
  }
  .about-wrapper{
      position: relative;
      padding: 50px;
      z-index: 20;
      &.top{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
         
          p{
              text-align: end;
              margin: 20px 0;
          }
      }
      &.bottom{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p{
              text-align: start;
              margin: 20px 0;
          }
      }
      @media (max-width:768px) {
        padding: 10px;
        &.top{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p{
              text-align: start;
              margin: 20px 0;
          }
      }
      &.bottom{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          p{
              text-align: start;
              margin: 20px 0;
          }
      }
    }
  }
  @media (max-width:768px) {
    .bg-top {
      top: -5%;
      position: absolute;
      width: 100%;
      z-index: 60;
    }
  }
}

.partner {
  position: relative;
  height: 100vh;
  background-image: url('../images/bg-press.png');
  background-size: contain;
  .bg-top {
    position: absolute;
    object-fit: cover;
    top: -15%;
    width: 100%;
  }
  .bg-bottom {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 100%;
  }
  .parter-content{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    z-index: 20;
    .header{
      .title{
        font-size: 20px;
        font-weight: 700;
        color: #FFF;
        text-align: center;
      }
      .sub-title{
        font-size: 32px;
        font-weight: 700;
        color: #FFF;
        margin-bottom: 20px;
      }
    }
    .link-partner{
      display: flex;
      align-items: center;
      padding: 5px;
      background-color: #000;
      margin-bottom: 20px;
      text-decoration: none;
      color: #FFF;
      font-weight: 700;
      border-radius: 5px;
      border: 2px solid #9e32e3;
      transition: all ease-in-out .3s;
      .logo{
        width: 40px;
        height: 40px;
        margin-right: 5px;
        border-radius: 3px;
      }
      &:hover{
        background-color: #FFF;
        color: #9e32e3;
        transform: scale(1.1);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
      }
    }
  }
  @media (max-width: 768px) {
    .bg-top {
      top: -5%;
    }
  }
}

.footer{
  background-image: url('../images/bg-press.png');
  position: relative;
  background-color: #000;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  .footer-content{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .social{
      background-color: #000;
      box-shadow: 0 0 30px #9e32e3;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 10;
      width: 60px;
      height: 60px;
      img{
        width: 30px;
      }
      
      @media (max-width:768px) {
        width: 50px;
        height: 50px;
        img{
          width: 25px;
        }
      }
    }
  }
  .main-footer{
    .part{
        display: flex;
        flex-direction: column;
        .part-title{
          font-weight: 700;
          color: #FFF;
          margin-bottom: 20px;
        }
      a{
        text-decoration: none;
        color: #FFF;
      }
    }
    .logo-footer{
      display: flex;
      justify-content: center;
      img{
        width: 100px;
        height: 100px;
      }
    }
    .copyright{
      color: #FFF;
      margin-top: 20px;
      text-align: center;
    }
  }
  .bg-top {
    position: absolute;
    object-fit: cover;
    top: -15%;
    width: 100%;
    z-index: 10;
  }
  .bg-bottom {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 100%;
  }

  

  @media (max-width: 768px) {
    .bg-top {
      top: -5%;
    }
  }
}

.section-title{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    color: #FFF;
    font-family: "Macondo", cursive;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0 0 10px #FFF;
    display: inline-block;
    margin: auto;
    &::before{
      content: "";
      position: absolute;
      top: -10px;
      width: 60%;
      height: 5px;
      background-color: #FFF;
      border-radius: 10px;
      box-shadow: 0 0 20px #FFF;
    }
  }
}
.gallery{
  padding-top: 10%;
  z-index: 20;
  min-height: 100vh;
  #particles-js{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .card{
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    .card-body{
      padding: 0;
      border-radius: 10px;
      overflow:hidden;
    }
  }

  .team-wrapper{
    padding: 6% 0;
    border-radius: 10px;
    .team-item{
      display: flex;
      align-items: center;
      margin: 50px 0;
      .img-wrapper{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        .team-img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info-wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100px;
        .name{
          font-weight: 700;
          color: #FFF;
          font-size: 32px;
          text-shadow: 0 0 10px #FFF;
        }
        .job-title{
          font-size: 18px;
          font-weight: 300;
          color: #9e32e3;
          text-shadow: 0 0 1px #9e32e3;
        }
      }
    }
    @media (max-width:576px) {
      .team-item{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .img-wrapper{
          width: 70px;
          height: 70px;
          margin-right: 20px;
        }
        .info-wrapper{
          height: 50px;
          .name{
            font-size: 28px;
          }
          .job-title{
            font-size: 16px;
          }
        }
      }
    }
  }

  .blog-wrapper{
    padding: 6% 0;
    .link-detail-blog{
      text-decoration: none;
      color: #FFF;
      margin-bottom: 20px;
      display: block;
      .card-blog{
        background-color: rgba(8, 1, 17, 0.6);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .number{
          position: absolute;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: #9e32e3;
          left: 10px;
          top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
          font-size: 20px;
          z-index: 20;
        }
        .card-blog-body{
          height: 320px;
          .img-blog{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease-in-out .3s;
          }
        }
        .card-blog-footer{
          padding: 10px;
          h2{
            color: #9e32e3;
          }
          .info{
            display: flex;
            align-items: center;
            .ctg-dev{
              background-color: #b95bf3;
              padding: 3px 10px;
              margin-right: 10px;
              border-radius: 50px;
              font-size: 13px;
              font-weight: 700;
              color: #FFF;
            }
            .posted-time{
              font-weight: 300;
              color: #DDD;
            }
          }
        }
      }
      &:hover{
        .card-blog{
          .card-blog-body{
            overflow: hidden;
            .img-blog{
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }


}


#particles-js-2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.denyut {
    animation:pound .2s infinite;
    animation-duration: 1.5s;
}
@keyframes pound {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
