@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Titillium+Web:wght@400;600;700;900&display=swap");
body {
  background-image: url("/assets/image/bg-press.png"), -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background-image: url("/assets/image/bg-press.png"), linear-gradient(#000, transparent);
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-color: #000;
  font-family: "Titillium Web", sans-serif;
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: #682cce rgba(0, 0, 0, 0.5);
  /* scroll thumb and track */
}

body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #682cce;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #9e32e3;
  /* creates padding around scroll thumb */
}

.asix-nav {
  background-color: rgba(30, 0, 23, 0.76);
  border-bottom: 2px solid #682cce;
  border-top: 2px solid #682cce;
  position: fixed;
  left: 0;
  right: 0;
  top: 30px;
  z-index: 99;
  padding: 15px 0;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  font-weight: 700;
}

.asix-nav .nav-logo {
  width: 45px;
}

.asix-nav.isTop {
  -webkit-box-shadow: 0 3px 3px rgba(108, 7, 111, 0.9);
          box-shadow: 0 3px 3px rgba(108, 7, 111, 0.9);
  top: 0;
}

.asix-nav .access-app .btn-access-app {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 30px;
  background-color: #9e32e3;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
          box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.asix-nav .access-app .btn-access-app span {
  font-weight: 700;
  display: block;
  text-align: center;
}

.asix-nav .access-app .btn-access-app small {
  font-weight: 600;
  display: block;
  text-align: center;
}

.asix-nav .access-app .btn-access-app:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fff;
  color: #682cce;
  -webkit-box-shadow: 0 0 1px 2px #ffe, inset 0 0 3px 3px #9e32e3;
          box-shadow: 0 0 1px 2px #ffe, inset 0 0 3px 3px #9e32e3;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero .top-h {
  position: absolute;
  left: 0;
  top: 0px;
  width: 30%;
  z-index: 10;
}

.hero .bg-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 21;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .bg-hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero #particles-js-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hero .hero-content {
  position: relative;
  z-index: 30;
  height: 100vh;
  padding-top: 17%;
  margin-bottom: 20px;
}

.hero .hero-content h1 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.hero .hero-content h2 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  font-family: "Macondo", cursive;
  font-weight: 700;
}

.hero .hero-content .text {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-shadow: 0.5px 1px 0 #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .text span {
  text-shadow: 1px -1px 0px #fff;
  color: #9e32e3;
  font-weight: 700;
  font-size: 32px;
  margin: 0 5px;
}

.hero .hero-content .btn-wrapper {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .hero-content .btn-wrapper .btn {
  text-decoration: none;
  height: 50px;
  margin: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9e32e3;
  -webkit-box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
          box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hero .hero-content .btn-wrapper .btn.btn-left:hover {
  background-color: #1fc7d4;
  -webkit-box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
          box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
}

.hero .hero-content .btn-wrapper .btn.btn-right:hover {
  background-color: #5eeb9e;
  -webkit-box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
          box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
}

.hero .hero-content .info-power {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-content .info-power .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-content .info-power .item span {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.hero .hero-content .info-power .item.left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .hero-content .info-power .item.right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .hero-content .info-power .divider {
  height: 60px;
  width: 5px;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero .top-h {
    width: 60%;
  }
  .hero .hero-content {
    padding-top: 30%;
  }
}

.video-demo {
  position: relative;
  z-index: 30;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: right;
}

.video-demo .bg-top {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: -5px;
  width: 100%;
  z-index: 10;
}

.video-demo .bg-bottom {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.video-demo .video-content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  position: relative;
  overflow-x: hidden;
}

.video-demo .video-content .el-round {
  height: 80px;
  width: 80px;
  background-color: #E8A902;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 30px #E8A902;
          box-shadow: 0 0 30px #E8A902;
}

.video-demo .video-content .title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.video-demo .video-content .text-large {
  text-align: center;
  font-size: 28px;
  font-family: "Macondo", cursive;
  font-weight: 700;
  margin-bottom: 15px;
}

.video-demo .video-content .text-large .tlg-1 {
  font-size: 28px;
  color: #9e32e3;
}

.video-demo .video-content .text-large .tlg-2 {
  font-size: 32px;
}

.video-demo .video-content .phar {
  text-align: center;
  color: #ffe;
}

.video-demo .video-content .btn-wrapper {
  margin-top: 30px;
}

.video-demo .video-content .btn-wrapper .btn {
  text-decoration: none;
  height: 50px;
  width: 150px;
  margin: 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9e32e3;
  -webkit-box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
          box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  font-weight: 700;
}

.video-demo .video-content .btn-wrapper .btn:hover {
  background-color: #9e32e3;
  -webkit-box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #FFF;
          box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #FFF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about {
  position: relative;
  padding: 15% 0;
  min-height: 100vh;
}

.about .bg-top {
  top: -5px;
  position: absolute;
  width: 100%;
  z-index: 60;
}

.about .bg-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.about h2 {
  color: #FFE;
  font-family: 'Macondo', cursive;
}

.about .token-address {
  color: #FFF;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

.about p {
  font-weight: 300;
  color: #FFF;
}

.about .btn-wrapper {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .btn-wrapper .btn {
  text-decoration: none;
  height: 50px;
  margin: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9e32e3;
  -webkit-box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
          box-shadow: 0 0 1px 2px #682cce, inset 0 0 3px 3px #000;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.about .btn-wrapper .btn:hover {
  background-color: #FFF;
  color: #9e32e3;
  -webkit-box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #333;
          box-shadow: 0 0 1px 2px #FFF, inset 0 0 3px 3px #333;
}

.about .btn-wrapper .btn.btn-left:hover {
  background-color: #1fc7d4;
  -webkit-box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
          box-shadow: 0 0 1px 2px #1fc7d4, inset 0 0 3px 3px #333;
  color: #FFF;
}

.about .btn-wrapper .btn.btn-right:hover {
  background-color: #5eeb9e;
  -webkit-box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
          box-shadow: 0 0 1px 2px #5eeb9e, inset 0 0 3px 3px #333;
  color: #FFF;
}

.about .cader-wrapper {
  position: relative;
}

.about .cader-wrapper .pjs-cader {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  overflow: hidden;
  border-radius: 50%;
}

.about .cader-wrapper .cader {
  width: 100%;
  position: absolute;
  right: 0;
  top: 3%;
}

.about .cader-wrapper .cader-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  height: 500px;
  overflow: hidden;
  background-image: url("../../assets/image/cader.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}

.about .cader-wrapper .cader-content img {
  width: 180px;
}

.about .about-wrapper {
  position: relative;
  padding: 50px;
  z-index: 20;
}

.about .about-wrapper.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-wrapper.top p {
  text-align: end;
  margin: 20px 0;
}

.about .about-wrapper.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-wrapper.bottom p {
  text-align: start;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .about .about-wrapper {
    padding: 10px;
  }
  .about .about-wrapper.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-wrapper.top p {
    text-align: start;
    margin: 20px 0;
  }
  .about .about-wrapper.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about .about-wrapper.bottom p {
    text-align: start;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .about .bg-top {
    position: absolute;
    width: 100%;
    z-index: 60;
  }
}

.partner {
  position: relative;
  height: 100vh;
  background-image: url("../image/bg-press.png");
  background-size: contain;
}

.partner .bg-top {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: -5px;
  width: 100%;
}

.partner .bg-bottom {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  width: 100%;
}

.partner .parter-content {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.partner .parter-content .header .title {
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  text-align: center;
}

.partner .parter-content .header .sub-title {
  font-size: 32px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 20px;
}

.partner .parter-content .link-partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  background-color: #000;
  margin-bottom: 20px;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  border-radius: 5px;
  border: 2px solid #9e32e3;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.partner .parter-content .link-partner .logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 3px;
}

.partner .parter-content .link-partner:hover {
  background-color: #FFF;
  color: #9e32e3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
  .partner .bg-top {
    top: -5px;
  }
}

.footer {
  background-image: url("../image/bg-press.png");
  position: relative;
  background-color: #000;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
}

.footer .footer-content {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .social {
  background-color: #000;
  -webkit-box-shadow: 0 0 30px #9e32e3;
          box-shadow: 0 0 30px #9e32e3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
  width: 60px;
  height: 60px;
}

.footer .footer-content .social img {
  width: 30px;
}

@media (max-width: 768px) {
  .footer .footer-content .social {
    width: 50px;
    height: 50px;
  }
  .footer .footer-content .social img {
    width: 25px;
  }
}

.footer .main-footer .part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.footer .main-footer .part .part-title {
  font-weight: 700;
  color: #FFF;
  margin-bottom: 20px;
}

.footer .main-footer .part a {
  text-decoration: none;
  color: #FFF;
}

.footer .main-footer .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .main-footer .logo-footer img {
  width: 100px;
  height: 100px;
}

.footer .main-footer .copyright {
  color: #FFF;
  margin-top: 20px;
  text-align: center;
}

.footer .bg-top {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: -5px;
  width: 100%;
  z-index: 10;
}

.footer .bg-bottom {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  width: 100%;
}

.section-title {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title h1 {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  color: #FFF;
  font-family: "Macondo", cursive;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0 0 10px #FFF;
  display: inline-block;
  margin: auto;
}

.section-title h1::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 60%;
  height: 5px;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #FFF;
          box-shadow: 0 0 20px #FFF;
}

.gallery {
  padding-top: 10%;
  z-index: 20;
  min-height: 100vh;
}

.gallery #particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.gallery .card {
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.gallery .card .card-body {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.gallery .team-wrapper {
  padding: 6% 0;
  border-radius: 10px;
}

.gallery .team-wrapper .team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.gallery .team-wrapper .team-item .img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.gallery .team-wrapper .team-item .img-wrapper .team-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .team-wrapper .team-item .info-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}

.gallery .team-wrapper .team-item .info-wrapper .name {
  font-weight: 700;
  color: #FFF;
  font-size: 32px;
  text-shadow: 0 0 10px #FFF;
}

.gallery .team-wrapper .team-item .info-wrapper .job-title {
  font-size: 18px;
  font-weight: 300;
  color: #9e32e3;
  text-shadow: 0 0 1px #9e32e3;
}

@media (max-width: 576px) {
  .gallery .team-wrapper .team-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  .gallery .team-wrapper .team-item .img-wrapper {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  .gallery .team-wrapper .team-item .info-wrapper {
    height: 50px;
  }
  .gallery .team-wrapper .team-item .info-wrapper .name {
    font-size: 28px;
  }
  .gallery .team-wrapper .team-item .info-wrapper .job-title {
    font-size: 16px;
  }
}

.gallery .blog-wrapper {
  padding: 6% 0;
}

.gallery .blog-wrapper .link-detail-blog {
  text-decoration: none;
  color: #FFF;
  margin-bottom: 20px;
  display: block;
}

.gallery .blog-wrapper .link-detail-blog .card-blog {
  background-color: rgba(8, 1, 17, 0.6);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .number {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #9e32e3;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  z-index: 20;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-body {
  height: 320px;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-body .img-blog {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-footer {
  padding: 10px;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-footer h2 {
  color: #9e32e3;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-footer .info .ctg-dev {
  background-color: #b95bf3;
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 700;
  color: #FFF;
}

.gallery .blog-wrapper .link-detail-blog .card-blog .card-blog-footer .info .posted-time {
  font-weight: 300;
  color: #DDD;
}

.gallery .blog-wrapper .link-detail-blog:hover .card-blog .card-blog-body {
  overflow: hidden;
}

.gallery .blog-wrapper .link-detail-blog:hover .card-blog .card-blog-body .img-blog {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#particles-js-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.denyut {
  -webkit-animation: pound .2s infinite;
          animation: pound .2s infinite;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes pound {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes pound {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */